* {

    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
/* ---------------------------------------------BODY ----------------------------------- */
body {
    background-color: rgb(255, 174, 0);
    display: flex;
    justify-content: center;
    

}

#wrapper {

    /* padding-right: 360px;
    padding-left: 360px; */
    width: 80%;

}



/* ---------------------------------------------HEADER ----------------------------------- */



header p{

    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(73, 136, 187);
    text-align: center; 
}

header img{

    width: 100%;

}
/* ---------------------------------------------MAIN ----------------------------------- */




main{

    display: flex;
    align-items: flex-start;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

}

/* ---------------------------------------------ARTICLE ----------------------------------- */

article{

    padding: 10px;

}

article p{

    margin-bottom: 40px;
    text-align: justify;


}

article h1{


    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 174, 0);



}



/* ---------------------------------------------NAV ----------------------------------- */


nav ul{

    background-color: rgb(73, 136, 187);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center; 
    list-style-type: none;

}

nav li{

    width: 150px;
    padding: 5px;


}

nav a{

    color: white;


}

/* ---------------------------------------------ASIDE ----------------------------------- */


aside figure {


	display:flex;
	flex-direction:column;
	align-items:center;

}
		
aside img {

    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid white;
    width: 100px;
}		


aside figcaption{

    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center; 

}

aside p{

    padding: 10px;
    color: white;
    text-align: justify;


}
		
aside {

    background-color: rgb(73, 136, 187);
    /* margin-bottom: 100px; */
}

/* ---------------------------------------------FOOTER ----------------------------------- */

footer{

    background-color: rgb(21, 21, 95);



}

footer small{

    display: block;
    padding: 5px;
    color: white;
    text-align: center; 



}


@media only screen and (max-width: 600px) {

    #wrapper{

        width: 100%;
        background-color: none;
    
    
    
    }
    main {
        display: flex;
        flex-direction: column;
    }

    /* nav {

        width: 100%;
        display: block;
        

    }

    nav li{

        width: 100%;
        text-align: center; 
    } */

    nav { 
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    ul,
    ul li {
        width: 100%;
    }

    nav li{

        padding: 10px;
    
    
    }

    aside img{

        width: 50%;


    }

  }